.article-nav-table{
    position:fixed;
    right:20px;
    top:120px;
    display:none;
}
.article-inner-nav-wapper{
    background-color: seashell;
    color: #ff4366;
}
.article-inner-nav{
    margin: 0;
    padding: 0;
    list-style: circle inside;
    width: 387px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.8;
}
.aside2 .list-group-ul{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
